!!!
%html
  %head
    %title GitHub Markup Preview
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .ribbon.right.blue
      = link_to 'Fork me on GitHub', 'https://github.com/petethepig/github-markup-preview'
    = yield