!!!
%html
  %head
    %title GitHub Markup Preview
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name=>'description', :content=>'Live Editor for most popular Markup Languages: GitHub Flavored Markdown, Simple Markdown, RDoc, Wiki, Org, Textile and Creole. Best previewing tool for your GitHub README files.'}
  %body
    .ribbon.right.blue
      = link_to 'Fork me on GitHub', 'https://github.com/petethepig/github-markup-preview'
    = yield